*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
body{
	font-family: Open Sans, sans-serif;
}

/*Navigation Bar*/
nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}
/*Navigation Bar End*/

/*Intro Section*/
#intro{
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding:  1rem;
}
/*Intro Section End*/

/*Succeed Info Section*/
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 2rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}


#succeed-info .card{
	display:  inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin: 0 0.5rem;
}
/*Succeed Info Section End*/


/*Pre-footer*/
#pre-footer{
	background-color: #002540;
	color: ghostwhite;
}

#pre-footer div{
	display: inline-block;
	min-height: 100px;
	width: 23%;
	margin: 0 0.5rem;
	padding: 10px;
}

#pre-footer > div > p{
	margin: .8rem 0;
}

/*Pre-footer End*/

/*Footer*/

footer{
	padding: 0.7rem;
	text-align: left;
}

footer span{
	margin:  0 0.5rem;#
}
/*Footer End*/